In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import G_KEY

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Zhigansk,66.7697,123.3711,-24.70,95,100,12.68,RU,2022-02-08 05:04:34
1,1,Mataura,-46.1927,168.8643,59.49,43,0,2.46,NZ,2022-02-08 05:02:37
2,2,Busselton,-33.6500,115.3333,72.09,69,91,9.48,AU,2022-02-08 05:04:35
3,3,New Norfolk,-42.7826,147.0587,79.66,36,73,3.00,AU,2022-02-08 05:04:35
4,4,Fanai,38.5170,44.9745,24.57,53,84,3.29,IR,2022-02-08 05:04:36

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=G_KEY)

In [5]:
city_data_df[["Lat", "Lng"]]

         Lat       Lng
0    66.7697  123.3711
1   -46.1927  168.8643
2   -33.6500  115.3333
3   -42.7826  147.0587
4    38.5170   44.9745
..       ...       ...
581   9.6139    6.5569
582 -14.5566   30.8149
583  65.5833 -171.0000
584  29.8977   69.5256
585  36.7844  119.9464

[586 rows x 2 columns]

In [6]:
city_data_df["Max Temp"]

0     -24.70
1      59.49
2      72.09
3      79.66
4      24.57
       ...
581    73.90
582    67.35
583   -26.68
584    54.45
585    43.90
Name: Max Temp, Length: 586, dtype: float64

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
temps

[0,
 59.49,
 72.09,
 79.66,
 24.57,
 32.63,
 80.02,
 0,
 45.61,
 75.18,
 56.12,
 33.42,
 72.25,
 51.12,
 78.91,
 36.91,
 38.93,
 71.69,
 80.53,
 0,
 31.91,
 43.97,
 75.72,
 71.33,
 65.28,
 0,
 39.33,
 46.11,
 80.35,
 65.8,
 31.42,
 62.94,
 31.57,
 63.23,
 30.6,
 0,
 74.39,
 82.78,
 0,
 72.84,
 59.81,
 79.48,
 51.91,
 46.85,
 27.99,
 34.92,
 78.96,
 0,
 60.66,
 22.62,
 53.55,
 70.09,
 21.36,
 12.67,
 78.26,
 27.36,
 70.56,
 64.11,
 0,
 69.48,
 65.08,
 58.89,
 0,
 80.94,
 82.65,
 67.96,
 82.81,
 6.69,
 66.25,
 77.09,
 78.57,
 60.67,
 70.27,
 68.5,
 71.37,
 33.94,
 74.28,
 65.79,
 60.55,
 34.72,
 70.72,
 62.89,
 0,
 17.4,
 82.67,
 0,
 56.23,
 12.36,
 82.69,
 71.11,
 0,
 37.26,
 50.54,
 23.16,
 29.91,
 0,
 88.23,
 17.13,
 72.54,
 35.49,
 77.58,
 70.86,
 89.73,
 0,
 78.89,
 68.54,
 22.64,
 59.83,
 43.02,
 78.49,
 13.75,
 52.74,
 63.88,
 75.97,
 80.67,
 70.27,
 57.25,
 93.18,
 75.56,
 84.7,
 10.2,
 84.22,
 89.65,
 59.77,
 52.39,
 79.93,
 59.49,
 69.44,
 55.24,
 65.55,
 15.93,
 0,
 9.18,
 86.05,
 82.92,
 78.85,
 85.51,
 52.36,
 72.77,
 78.75,
 53.85,
 11.25,
 74.43,
 80.44,
 66.0,
 64.54,
 76.1,
 21.81,
 50.23,
 32.81,
 55.65,
 64.89,
 47.79,
 75.9,
 71.53,
 23.76,
 38.8,
 77.22,
 71.1,
 29.89,
 46.62,
 52.75,
 24.12,
 21.27,
 70.97,
 70.36,
 13.08,
 14.13,
 44.76,
 0,
 82.99,
 72.73,
 0,
 62.35,
 40.26,
 69.85,
 80.38,
 91.33,
 73.85,
 69.78,
 59.81,
 68.61,
 42.91,
 76.08,
 52.68,
 74.66,
 87.89,
 81.99,
 66.15,
 53.46,
 76.05,
 61.11,
 78.62,
 1.51,
 72.45,
 84.27,
 22.68,
 36.45,
 60.75,
 61.16,
 84.56,
 5.88,
 45.28,
 85.01,
 0,
 32.22,
 64.13,
 73.8,
 23.14,
 0,
 63.81,
 75.02,
 24.98,
 77.74,
 0,
 85.68,
 78.75,
 81.81,
 23.52,
 58.48,
 48.65,
 76.32,
 81.09,
 78.82,
 24.57,
 0.0,
 81.48,
 83.03,
 64.31,
 37.29,
 85.5,
 45.0,
 62.69,
 44.71,
 44.04,
 24.69,
 61.12,
 46.2,
 34.5,
 9.41,
 0,
 26.64,
 47.17,
 12.18,
 71.19,
 55.78,
 86.68,
 0,
 68.5,
 0,
 82.89,
 77.94,
 62.71,
 0,
 70.75,
 49.98,
 7.21,
 50.25,
 82.99,
 61.39,
 83.55,
 0,
 76.78,
 79.14,
 67.86,
 0,
 44.58,
 0,
 66.54,
 71.76,
 0,
 21.04,
 64.13,
 0,
 47.39,
 91.17,
 26.69,
 65.57,
 46.92,
 0,
 0,
 54.84,
 0,
 70.32,
 61.7,
 82.4,
 17.83,
 0,
 77.09,
 12.15,
 0,
 77.16,
 30.65,
 43.61,
 75.99,
 69.01,
 0,
 13.15,
 48.11,
 29.73,
 62.35,
 81.93,
 39.18,
 0,
 41.23,
 60.24,
 50.94,
 20.71,
 10.18,
 77.07,
 62.87,
 27.18,
 76.87,
 34.93,
 59.65,
 88.83,
 38.62,
 64.11,
 0,
 68.36,
 70.9,
 80.28,
 77.23,
 75.52,
 44.2,
 91.72,
 74.19,
 61.79,
 1.96,
 73.45,
 42.48,
 22.66,
 80.78,
 28.87,
 0,
 0,
 38.86,
 84.38,
 57.15,
 63.57,
 67.01,
 27.16,
 42.08,
 72.09,
 72.09,
 13.01,
 28.17,
 51.17,
 69.12,
 14.77,
 73.33,
 32.34,
 43.61,
 68.05,
 74.68,
 83.1,
 54.81,
 70.29,
 73.2,
 0,
 71.44,
 76.91,
 68.11,
 77.95,
 72.7,
 70.9,
 77.09,
 28.62,
 0,
 52.45,
 10.67,
 46.99,
 81.48,
 45.23,
 44.89,
 74.34,
 13.21,
 84.22,
 56.8,
 32.74,
 86.02,
 59.34,
 42.84,
 76.77,
 81.46,
 48.45,
 71.64,
 12.97,
 14.68,
 30.2,
 62.02,
 35.67,
 24.85,
 18.93,
 60.76,
 75.22,
 66.34,
 75.94,
 35.74,
 56.17,
 96.22,
 42.67,
 79.14,
 78.28,
 21.78,
 3.49,
 86.0,
 58.93,
 3.88,
 62.29,
 48.72,
 42.75,
 67.93,
 76.73,
 83.23,
 82.51,
 88.5,
 57.27,
 0.9,
 83.93,
 33.24,
 40.62,
 31.84,
 33.66,
 33.22,
 82.94,
 51.01,
 76.98,
 80.1,
 72.91,
 92.91,
 28.99,
 67.82,
 41.49,
 72.99,
 79.75,
 79.63,
 57.9,
 46.2,
 88.59,
 65.97,
 53.91,
 82.44,
 67.98,
 89.26,
 24.75,
 31.64,
 23.27,
 44.11,
 47.17,
 85.24,
 63.19,
 3.81,
 7.02,
 83.73,
 40.82,
 37.22,
 33.19,
 74.66,
 39.18,
 76.42,
 86.11,
 74.01,
 72.0,
 30.51,
 52.11,
 0,
 75.4,
 1.45,
 78.57,
 67.14,
 78.62,
 79.0,
 57.18,
 42.87,
 72.1,
 0,
 80.49,
 28.24,
 79.99,
 74.21,
 61.59,
 40.78,
 19.47,
 0.99,
 55.54,
 26.53,
 77.38,
 0,
 83.34,
 46.92,
 51.66,
 32.09,
 3.63,
 1.29,
 20.79,
 54.77,
 0,
 63.23,
 57.76,
 77.47,
 89.35,
 64.2,
 35.46,
 72.07,
 64.44,
 29.55,
 71.26,
 94.84,
 39.02,
 0,
 75.25,
 62.31,
 39.58,
 77.36,
 17.85,
 1.0,
 78.33,
 76.51,
 44.47,
 42.03,
 80.1,
 72.79,
 6.64,
 37.47,
 68.86,
 60.28,
 76.12,
 32.63,
 36.72,
 84.33,
 55.08,
 32.0,
 61.7,
 25.2,
 64.94,
 16.14,
 85.37,
 50.95,
 38.48,
 73.29,
 43.39,
 67.73,
 75.2,
 36.64,
 40.33,
 63.41,
 74.73,
 41.25,
 28.09,
 19.49,
 58.62,
 83.98,
 78.66,
 39.61,
 76.53,
 0,
 36.64,
 7.07,
 63.95,
 0,
 81.54,
 67.3,
 18.73,
 53.91,
 63.39,
 29.95,
 65.79,
 32.07,
 32.47,
 64.81,
 96.94,
 32.7,
 40.82,
 58.95,
 49.35,
 32.92,
 68.92,
 48.92,
 70.61,
 69.98,
 73.9,
 67.35,
 0,
 54.45,
 43.9]

In [17]:
locations

         Lat       Lng
0    66.7697  123.3711
1   -46.1927  168.8643
2   -33.6500  115.3333
3   -42.7826  147.0587
4    38.5170   44.9745
..       ...       ...
581   9.6139    6.5569
582 -14.5566   30.8149
583  65.5833 -171.0000
584  29.8977   69.5256
585  36.7844  119.9464

[586 rows x 2 columns]

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
#humidity = city_data_df["Humidity"]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 40

In [29]:
city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)

SyntaxError: unmatched ')' (Temp/ipykernel_24236/1171139563.py, line 1)

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Severo-Kurilsk,50.6789,156.1250,32.63,83,60,10.27,RU,2022-02-08 05:04:36
11,11,Assiniboia,49.6334,-105.9845,33.42,76,40,18.01,CA,2022-02-08 05:04:39
15,15,Kodiak,57.7900,-152.4072,36.91,93,100,3.44,US,2022-02-08 05:04:40
16,16,Crotone,39.0851,17.1178,38.93,53,7,32.79,IT,2022-02-08 05:04:40
20,20,Nikolskoye,59.7035,30.7861,31.91,99,96,3.47,RU,2022-02-08 05:04:42
26,26,Springdale,36.1867,-94.1288,39.33,61,0,5.75,US,2022-02-08 05:02:42
30,30,Safranbolu,41.2508,32.6942,31.42,89,91,3.36,TR,2022-02-08 05:04:46
32,32,Khani,41.9563,42.9566,31.57,73,20,9.10,GE,2022-02-08 05:04:47
34,34,Shizunai,42.3339,142.3669,30.60,60,61,12.19,JP,2022-02-08 05:04:48
45,45,Albany,42.6001,-73.9662,34.92,93,100,3.42,US,2022-02-08 05:00:10

In [32]:
city_data_df[(city_data_df["Max Temp"] <= max_temp)].head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Zhigansk,66.7697,123.3711,-24.70,95,100,12.68,RU,2022-02-08 05:04:34
4,4,Fanai,38.5170,44.9745,24.57,53,84,3.29,IR,2022-02-08 05:04:36
5,5,Severo-Kurilsk,50.6789,156.1250,32.63,83,60,10.27,RU,2022-02-08 05:04:36
7,7,Cherskiy,68.7500,161.3000,-35.39,100,29,1.41,RU,2022-02-08 05:04:37
11,11,Assiniboia,49.6334,-105.9845,33.42,76,40,18.01,CA,2022-02-08 05:04:39

In [33]:
city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)].head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Zhigansk,66.7697,123.3711,-24.70,95,100,12.68,RU,2022-02-08 05:04:34
4,4,Fanai,38.5170,44.9745,24.57,53,84,3.29,IR,2022-02-08 05:04:36
5,5,Severo-Kurilsk,50.6789,156.1250,32.63,83,60,10.27,RU,2022-02-08 05:04:36
7,7,Cherskiy,68.7500,161.3000,-35.39,100,29,1.41,RU,2022-02-08 05:04:37
11,11,Assiniboia,49.6334,-105.9845,33.42,76,40,18.01,CA,2022-02-08 05:04:39

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [35]:
preferred_cities_df.notnull().sum()

City_ID       55
City          55
Lat           55
Lng           55
Max Temp      55
Humidity      55
Cloudiness    55
Wind Speed    55
Country       55
Date          55
dtype: int64

In [37]:
preferred_cities_df.count()

City_ID       55
City          55
Lat           55
Lng           55
Max Temp      55
Humidity      55
Cloudiness    55
Wind Speed    55
Country       55
Date          55
dtype: int64

# Hotel DF

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5   Severo-Kurilsk      RU     32.63  50.6789  156.1250
11      Assiniboia      CA     33.42  49.6334 -105.9845
15          Kodiak      US     36.91  57.7900 -152.4072
16         Crotone      IT     38.93  39.0851   17.1178
20      Nikolskoye      RU     31.91  59.7035   30.7861
26      Springdale      US     39.33  36.1867  -94.1288
30      Safranbolu      TR     31.42  41.2508   32.6942
32           Khani      GE     31.57  41.9563   42.9566
34        Shizunai      JP     30.60  42.3339  142.3669
45          Albany      US     34.92  42.6001  -73.9662

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_KEY
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Severo-Kurilsk,RU,32.63,50.6789,156.1250,Kak Doma
11,Assiniboia,CA,33.42,49.6334,-105.9845,Canalta Hotel Assiniboia
15,Kodiak,US,36.91,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
16,Crotone,IT,38.93,39.0851,17.1178,Helios Hotel
20,Nikolskoye,RU,31.91,59.7035,30.7861,Tourist House - Sablino
26,Springdale,US,39.33,36.1867,-94.1288,Springdale Inn
30,Safranbolu,TR,31.42,41.2508,32.6942,GuleviSafranbolu Hotel
32,Khani,GE,31.57,41.9563,42.9566,კურორტი ზეკარი/Resort Zekari
34,Shizunai,JP,30.60,42.3339,142.3669,Shizunai Eclipse Hotel
45,Albany,US,34.92,42.6001,-73.9662,
75,Chekhov,RU,33.94,55.1431,37.4711,Domik v derevne
79,Klaksvik,FO,34.72,62.2266,-6.5890,Airbnb rooms
91,Bethel,US,37.26,41.3712,-73.4140,Courtyard by Marriott Danbury
99,Gravdal,NO,35.49,68.1214,13.5031,Skreda Rorbusuiter
149,Dandong,CN,32.81,40.1292,124.3947,Yiranju Farmstay
156,Minot,US,38.80,48.2325,-101.2963,Noble Inn
197,Bogdanesti,RO,36.45,47.3667,26.2833,Suceveanu
205,Druzhba,UA,32.22,52.0428,33.9453,
229,Sitka,US,37.29,57.0531,-135.3300,Westmark Sitka
238,Ryzdvyanyy,RU,34.50,45.2656,41.8389,
292,Hammerfest,NO,30.65,70.6634,23.6821,Skytterhuset
302,Ketchikan,US,39.18,55.3422,-131.6461,Snow's Cove Lodge
313,Chester,US,34.93,40.1254,-75.8749,"Holiday Inn Morgantown - Reading Area, an IHG ..."
316,Ajtos,BG,38.62,42.7000,27.2500,Chiflika Aytos
336,Monmouth,US,38.86,40.3001,-74.1663,Colts Neck Inn Hotel
351,Peremyshlyany,UA,32.34,49.6652,24.5585,Imperial
379,Alekseyevskaya,RU,32.74,50.2896,42.1845,
389,Shakhovskaya,RU,30.20,56.0283,35.5097,Cottage at Yuzhnaya 10
391,Sorland,NO,35.67,67.6670,12.6934,Sjybrygga fiskecamp
398,Almaznyy,RU,35.74,48.0448,40.0450,
420,Kryve Ozero,UA,33.24,47.9524,30.3493,Hotel Oktan
422,La Ronge,CA,31.84,55.1001,-105.2842,Northland Motor Hotel
423,Maarianhamina,AX,33.66,60.0973,19.9348,Park Alandia Hotel
424,Lunenburg,CA,33.22,44.3835,-64.3155,Lunenburg Arms Hotel
446,Oxbow,CA,31.64,49.2333,-102.1676,Bow Manor Motor Hotel
456,Juneau,US,37.22,58.3019,-134.4197,"Baranof Downtown, Bw Signature Collection"
457,Krasnoye,UA,33.19,49.9145,24.6134,Feniks
459,Mitchell,US,39.18,43.7094,-98.0298,Kelly Inn & Suites
464,Khasan,RU,30.51,42.4308,130.6434,
492,Otradnoye,RU,32.09,59.7775,30.8181,Baza otdikha Petrushinsky Khutor
503,Foam Lake,CA,35.46,51.6500,-103.5343,Fishing Lake Lodge LTD
509,Brigantine,US,39.02,39.4101,-74.3646,Legacy Vacation Resorts - Brigantine Beach
513,Bereda,ES,39.58,43.2686,-7.5406,Pazo de Verdes
524,Altus,US,37.47,34.6381,-99.3340,"Holiday Inn Express & Suites Altus, an IHG Hotel"
528,Kahramanmaras,TR,32.63,38.0000,37.0000,
529,Karlskoga,SE,36.72,59.3267,14.5239,Hotel Alfred Nobel
532,Broome,US,32.00,42.2506,-75.8330,Chenango Valley State Park
539,Miyako,JP,38.48,39.6367,141.9525,Hotel Route Inn Miyako
544,Pottstown,US,36.64,40.2454,-75.6496,"Motel 6 Pottstown, PA"
554,Ozark,US,39.61,37.0209,-93.2060,Days Inn by Wyndham Ozark Springfield
557,Rongcheng,CN,36.64,30.6340,117.8517,Shell Shandong Liaocheng Development District ...
568,Miquelon,PM,32.07,47.0975,-56.3814,Island Inn
569,San Giovanni In Fiore,IT,32.47,39.2633,16.6996,Casa Federico B&B
572,Sandviken,SE,32.70,60.6167,16.7667,Alséns Hotel
576,Vestmanna,FO,32.92,62.1564,-7.1664,Vestmanna Camping

In [43]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [47]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))